<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image {{ img_class }}" data-parallax="true">
    </div>
    <div class="content-center">
        <div class="container">
            <h1 class="title">{{ title }}</h1>
            <div class="text-center">
            </div>
        </div>
    </div>
</div>
